html{
    scroll-behavior: smooth;
}  

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #333;
    color: #fff;
}


#imgdiv{
    float: right;
    position: relative;
    width: 10rem;
}

progress {
    height: 20px;
    border: 1px solid black;
    background-color: rgb(255, 250, 250);
  }
p{
    padding: 0.5%;
    margin: 0.1%;
}

a{
    color: white;
}
  #navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navitem {
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navitem:hover {
    color: #ffc107;
}


.btns{
    padding: 0.5rem;
}




.card-container {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    box-shadow: 0 8px 8px 0 greenyellow;
    padding: 3rem;
    margin: 1rem;

}
@keyframes border {
    0% {
        box-shadow: 0 8px 8px 0 #4CAF50; /* Dark Green */
    }

    25% {
        box-shadow: 0 8px 8px 0 #FFEB3B; /* Yellow */
    }

    50% {
        box-shadow: 0 8px 8px 0 #2196F3; /* Blue */
    }

    75% {
        box-shadow: 0 8px 8px 0 #9C27B0; /* Purple */
    }

    100% {
        box-shadow: 0 8px 8px 0 #FF5722; /* Orange */
    }
}

.skilldiv{
    padding: 0.7rem;
    margin: 0.6rem;

}

.c{
    padding: 0.5rem;
    margin: 0.1rem;

}

.e{
    padding: 0.7rem;
    margin: 0.01rem;

}
.card{
    margin-top: 2.75rem;
}


.home{
    font-size: larger;
    width: 50%;
    
}


#skill{

    display : flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.move{
    position: absolute;
    font-size: 13px;
    color: white;
    z-index: 1000;
  }

.heading{
    align-self: center;
    font-size: xx-large;
}
  


















